.popup__button-save {
  color: #fff;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  background: #000;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: .3s;
}
.popup__button-save:hover {
  opacity: 0.8;
}
@media (max-width: 320px) {
  .popup__button-save {
    min-height: 47px;
    font-size: 14px;
    line-height: 17px;
  }
}
