.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 12px;
    margin: 10px auto 0;
    max-width: 160px;
  }
}
