.element__trash {
  background: url(../../../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 18px;
  height: 21px;
  border: none;
  cursor: pointer;
  transition: .3s;
}
.element__trash:hover {
  opacity: 0.6;
}
